<h1><%= context.name %></h1><br />
<% if current_user && current_user.profile.admin? %>
<%= link_to "New Question", new_position_question_path %>
<% end %>
<%#Took this partial out because this page needs to have a form for applicants to fill out.%>
<%#= render :partial => 'question_list', :collection => @questions %>
<% form_for(@answer) do |j| %>
<input id="position_id" name="position_id" type="hidden" value="<%= context.id %>" />
	<ul>
	<% for question in @questions %>
		<li><%= question.content %>
		<% if current_user && current_user.profile.admin? %>
			<%= link_to '(Remove)', question, :confirm => 'Are you sure?', :method => :delete %>
		<% end %></li>
		<% fields_for :answer do |f| %>
			<%= f.hidden_field(:question_id, :index => question.id, :value => question.id)%>
			<% prev = question.answers.find_by_user_id(current_user.id).content if question.answers.find_by_user_id(current_user.id) %>
			<%= f.text_area :content,  :index => question.id, :value => prev  %>
		<% end %>
	<% end %>
	</ul>
	<% if !@submission %>
	<%= submit_tag 'Apply', :name => 'apply' %>
	<% end %>
<% end %>
<br />
<ul>

</ul>

<%#= link_to 'New question', new_position_question_path %>