<h1><%= context.name %></h1><br />
<% if current_user && current_user.profile.admin? %>
	<%= link_to "New Question", new_position_question_path %>
<% end %>
<p><b><span style="color:#FF0000">REMEMBER TO FILL OUT ALL QUESTIONS TO THE BEST OF YOUR ABILITY!</span></b></p>
<% form_for(@answer) do |j| %>
<input id="position_id" name="position_id" type="hidden" value="<%= context.id %>" />
	<% for question in @questions %>
		<div class="subquestions">
		<%= question.content %>
		<% if current_user && current_user.profile.admin? %>
			<%= link_to '(Remove)', question, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
		</div>
		<div class="subanswers">
		<% fields_for :answer do |f| %>
			<%#= f.error_messages %>
			<%= f.hidden_field(:question_id, :index => question.id, :value => question.id)%>
			<% prev = question.answers.find_by_user_id(current_user.id).content if question.answers.find_by_user_id(current_user.id) %>
			<%= f.text_area :content,  :index => question.id, :value => prev  %>
		<% end %>
		</div><br /><br />
	<% end %>
	<% if !@submission %>
	<%= submit_tag 'Apply', :name => 'apply' %>
	<% end %>
<% end %>
<br />
<ul>

</ul>

<%#= link_to 'New question', new_position_question_path %>