<h1>Positions</h1><br />
<table width="100%" class="sortable">
<tr>
	<th align="center"></th>
	<th class="subheader" align="center"><h2>Category</h2></th>
	<th class="subheader" align="center"><h2>Position</h2></th>
	<th class="subheader" align="center"><h2>Description</h2></th>
	<% if current_user && current_user.admin? %>
		<th class="subheader" align="center"><h2>Active?</h2></th>
	<% end %>
	<th align="center"></th>
	<th align="center"></th>
</tr>
<% for position in @positions %>
	<tr class="normal" onMouseOver="this.className='highlight'" onMouseOut="this.className='normal'">
		<td></td>
		<td><%= link_to position.category.name, category_path(position.category) %></td>
		<td><%= link_to position.name, position_path(position) %></td>
		<td><%= link_to truncate(position.description, :length => 100), position_path(position) %></td>
		<% if current_user && current_user.admin? %>
			<td>
				<% if position.active? %>
					Yes
				<% else %>
					No
				<% end %>
			</td>
		<% end%>
		<td></td>
		<td></td>
	</tr>
<!--
	<% if current_user && current_user.admin? %>
		(<%= link_to 'Edit', edit_position_path(position) %>) (<%= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete %>)
	<% end %>
-->
	</tr>
<% end %>
<br />
</table>