Time: <%= formtime %><br />
<% @submissions.each do |submission| %>
	<% if formtime == submission.interview_scheduled.strftime("%B %d, %Y") %>
		<div id="submission_<%= submission.id %>" <%= 'class="conflict"' if !submission.conflicts.empty? %>>
			<%= submission.user.profile.firstname %>
			<%= submission.user.profile.lastname %>
			for
			<%= link_to submission.position.name, submission_path(submission.id) %>
			@
			<%= submission.interview_scheduled.strftime("%H:%M %p") %>
			<%= link_to_function '(edit)' do |page|
						page.replace_html "submission_#{submission.id}", :partial => "interview_edit", :locals => {:submission => submission}
					end
			%>
			<%= link_to_remote '(clear time)', :url => {:action => :unset_interview_time, :id => submission}, :confirm => 'Are you sure?' %>
		</div>
	<% end %>
<% end %>
<hr />