<% @submissions.each do |submission| %>
	<div id="appointment_<%= submission.id %>" ><!--style="display:none;" > -->
	First name: <%= submission.user.profile.firstname %><br />
	Position: <%= submission.position.name %><br />
		<%# form_tag :controller => "submissions", :action => submission.id, :id => submission.id, :method => "post", :class => "edit_submission", :id => "edit_submission_{#submission.id}" do %>
		<% remote_form_for submission, :loading => visual_effect(:appear, 'spinner'),
																	 :complete => visual_effect(:fade, "appointment_#{submission.id}"),
																	 :html => { :id => "interview_#{submission.id}" } do |f| %>
			<%= f.calendar_date_select :interview_scheduled, :id => "interview_scheduled_#{submission.id}" %>
			<%= f.submit "Submit" %>
<!-- 		<form action="/submissions/<%#= submission.id %>" class="edit_submission" id="edit_submission_<%#= submission.id %>" method="post"> -->
<!--
			<div style="margin: 0pt; padding: 0pt;">
				<input name="_method" value="put" type="hidden">
			</div>
			<input id="submission_interview_scheduled" name="submission[interview_scheduled]" size="30" type="text">
			<img alt="Calendar" onclick="new CalendarDateSelect( $(this).previous(), {time:true, year_range:10} );" src="/images/calendar_date_select/calendar.gif?1217620690" style="border: 0px none ; cursor: pointer;">
			<input id="submission_submit" name="commit" value="Schedule" type="submit">
-->
<!-- 		</form> -->
		<% end %>
	</div>
<% end %>