<% @submissions.each do |submission| %>
	<div id="appointment_<%= submission.id %>" ><!--style="display:none;" > -->
	First name: <%= submission.user.profile.firstname %><br />
	Position: <%= submission.position.name %><br />
		<%# form_tag :controller => "submissions", :action => submission.id, :id => submission.id, :method => "post", :class => "edit_submission", :id => "edit_submission_{#submission.id}" do %>
		<% remote_form_for submission, :loading => visual_effect(:appear, 'spinner'),
																	 :complete => visual_effect(:fade, "appointment_#{submission.id}"),
																	 :html => { :id => "interview_#{submission.id}" } do |f| %>
			<%= f.calendar_date_select :interview_scheduled, :id => "interview_scheduled_#{submission.id}" %>
			<%= f.submit "Submit" %>
		<% end %>
	</div>
<% end %>