<h2>Administration</h2>
<ul class="asdf">
<!-- 	<li class="asdf"><%#= link_to "Management", :controller => 'resource_management' %></li> -->
	<li class="asdf"><%= link_to "Positions", positions_path %></li>
	<li class="asdf"><%= link_to 'Categories', :controller => "categories" %></li>
	<li class="asdf"><%= link_to 'Users', :controller => "admin", :action => "user_list" %>
		<ul class="asdf">
			<li class="asdf"><%= link_to 'Create', login_path %></li>
		</ul>
	</li>	<li class="asdf"><%= link_to 'Applications', :controller => "submissions" %>
		<ul class="asdf">
			<li class="asdf"><%= link_to 'Pending', :controller => "admin", :action => "pending_interviews" %></li>
		</ul>
	</li>
	<li class="asdf"><%= link_to 'Messages', messages_path %>
		<ul class="asdf">
			<li class="asdf"><%= link_to 'Success', success_message_url %></li>
		</ul>
	</li>
</ul>