<h2>Administration</h2>
<ul class="asdf">
	<li class="asdf"><%= link_to "Management", :controller => 'resource_management' %></li>
	<li class="asdf"><%= link_to "Positions", positions_path %></li>
	<li class="asdf"><%= link_to 'Users', :controller => "admin", :action => "user_list" %></li>
	<li class="asdf"><%= link_to 'Categories', :controller => "categories" %></li>
	<li class="asdf"><%= link_to 'Applications', :controller => "submissions" %> (<%= link_to 'C', :controller => "admin", :action => "checked" %>) (<%= link_to 'U', :controller => "admin", :action => "unchecked" %>)</li>
</ul>