<h1>Submissions</h1><br />
<table width="100%">
<tr>
	<td width="10"><!-- Place Holder for Magnifying glass icon --></td>
	<td class="subheader"><h2><center>Applicant Name</center></h2></td>
	<td class="subheader"><h2><center>Position</center></h2></td>
	<td class="subheader" colspan="2"><h2><center>Resum&#233</center></h2></td>
</tr>
<% for submissions in @submissions %>
<tr class="normal" onMouseOver="this.className='highlight'" onMouseOut="this.className='normal'">
	<td><%= link_to image_tag("../../images/Crystal_Clear_action_viewmag.png", :size => "20x20", :alt => "View submission"), submissions, :class => "subtable", :style => "cursor:auto;" %></td>
	<td><%= link_to submissions.user.profile.firstname+" "+submissions.user.profile.lastname, profile_path(submissions.user.profile), :class => "subtable" %></td>
	<td><%= link_to submissions.position.name, position_path(submissions.position), :class => "subtable" %></td>
	<% if submissions.user.resume %>
		<td><center><%= link_to_remote_redbox(image_tag("../../images/Crystal_Clear_action_window_new.png", :size => "20x20", :title => "Preview Resume"), link_to_remote_options = {:url => resume_path(submissions.user.resume)}, :class => "subtable") %></center></td> 
		<td><center><%= link_to image_tag("../../images/Crystal_Clear_app_harddrive.png", :size => "20x20", :title => "Download Resume"), submissions.user.resume.public_filename, :class => "subtable" %></center></td>
			<% else %>
		<td colspan="2"><center><%= link_to 'N/A', "#", :class => "subtable" %></center></td>
	<% end %>
	</td>
</tr>
<% end %>
</table>